/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */



.profile-image {

<<<<<<< HEAD
  background-image: url('public/IMG20231118163007_Cartoonize Effect.jpg');
=======
  background-image: url('../public/IMG20231118163007_Cartoonize\ Effect.jpg');
>>>>>>> 464aa2f210c240b01112851b1e1cc33ee0c93a1b

  background-size: cover;
  background-position: center;
}


html{
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
